
  <div class="flex flex-col items-center p-4 sm:p-6 md:p-8 bg-white shadow-lg rounded-lg max-w-md mx-auto">
    <!-- Título -->
    <h2 class="text-xl sm:text-2xl md:text-3xl font-bold text-gray-900">
      Tu <span class="font-bold" style="color: #ff8633;">perfil</span>
    </h2>
    
    <!-- Fotografía del usuario -->
    <img 
      src="assets/icon/FotoUsuario.jpg" 
      alt="Fotografía del usuario" 
      class="w-20 h-20 sm:w-24 sm:h-24 md:w-28 md:h-28 rounded-full mb-4 border-2 border-gray-300 shadow-md"
    />
  
    <!-- Nombre de usuario -->
    <h3 class="text-lg sm:text-xl md:text-2xl font-semibold text-gray-900 mb-6"> userName </h3>
  
    <!-- Opciones de perfil -->
    <div class="flex flex-col items-start space-y-4 w-full px-4">
      <!-- Agregar dirección de entrega (click)="agregarDireccion()"-->
      <button 
        class="flex items-center justify-between w-full text-gray-700 hover:text-[#ff8633] font-medium"
        
      >
        Agregar dirección de entrega >
      </button>
  
      <!-- Cerrar sesión (click)="cerrarSesion()"-->
      <button 
        class="flex items-center justify-between w-full text-gray-700 hover:text-[#ff8633] font-medium"
        
      >
        Cerrar sesión
      </button>
    </div>
  </div>
  



