<ion-content [fullscreen]="true">

  <div class="h-screen flex justify-center items-center px-4 sm:px-0">
    <div class="w-full max-w-md bg-white rounded-lg p-8">
      <img src="assets/icon/logo-empresa.png" alt="Logotipo de QuickDineHub" class="w-32 sm:w-40 h-auto mb-6 mx-auto">
      <h2 class="text-xl sm:text-2xl font-bold text-center text-gray-800 mb-6">Iniciar Sesión</h2>
      
      <form class="space-y-6">
        <!-- Campo de Correo Electrónico -->
        <div>
          <label for="email" class="block text-sm font-medium text-gray-700">Correo Electrónico</label>
          <input
            type="email"
            id="email"
            name="email"
            class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-[#ff8633] sm:text-sm"
            placeholder="tucorreo@ejemplo.com"
          />
        </div>
  
        <!-- Campo de Contraseña -->
        <div>
          <label for="password" class="block text-sm font-medium text-gray-700">Contraseña</label>
          <input
            type="password"
            id="password"
            name="password"
            class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-[#ff8633] sm:text-sm"
            placeholder="********"
          />
        </div>
  
        <!-- Botón de Iniciar Sesión -->
        <!-- type="submit" -->
        <div>
          <button
          
            type="button"
            class="w-full bg-[#ff8633] text-white px-4 py-2 rounded-lg hover:bg-[#ff7133] focus:outline-none focus:ring-2 focus:ring-[#ff8633] focus:ring-offset-2"
            (click)="irAlCatalogo()"
          >
            Iniciar Sesión
          </button>
        </div>

         <!-- Nota de O inicia sesión con -->
         <div class="text-center text-gray-500 text-sm mt-4">
          O inicia sesión con
        </div>

        <!-- Logotipo de Google -->
        <div class="flex justify-center mt-4">
          <img src="assets/icon/logo-google.png" alt="Iniciar sesión con Google" class="w-6 sm:w-7 h-auto cursor-pointer">
        </div>


      </form>
    </div>
  </div>
  

</ion-content>

