<ion-content [fullscreen]="true" class="flex flex-col justify-between">
  <!-- Contenedor del perfil del cliente -->
  <div class="flex items-center space-x-4 p-2 sm:p-4 md:p-6">
    <img src="assets/icon/logo-empresa.png" alt="Foto de perfil" class="w-[3.5rem] h-[3.5rem] sm:w-[4.5rem] sm:h-[4.5rem] md:w-[5.5rem] md:h-[5.5rem] rounded-full">
    <div>
      <h4 class="text-md sm:text-lg md:text-xl font-semibold text-gray-900">QuickDineHub</h4>
    </div>
  </div>

  <!-- Contenedor del encabezado -->
  <div class="px-4 py-2 sm:px-6 md:px-8 text-center">
    <h1 class="text-xl sm:text-2xl md:text-3xl font-bold text-gray-900">
      <span class="font-bold" style="color: #ff8633;">Carrito</span> de compras
    </h1>
  </div>

  <!-- Lista de productos en el carrito (Ajustada para no ocupar toda la pantalla) -->
  <div class="flex-grow px-4 py-2 overflow-y-auto mb-48"> <!-- Ajustamos con 'mb-24' para dejar espacio al resumen -->
    <!-- Producto 1 -->
    <div *ngFor="let producto of productosCarrito" class="bg-white shadow-lg rounded-lg flex justify-between items-center p-4 mb-4 space-x-4 sm:space-x-6 md:space-x-8">
      <img [src]="getImageUrl(producto.imagen[0])" alt="{{producto.nombreProducto}}" class="w-12 h-12 sm:w-16 sm:h-16 md:w-20 md:h-20 rounded-lg">
      <div class="flex-grow px-2 sm:px-4">
        <h2 class="text-base sm:text-lg md:text-xl font-semibold text-gray-900">{{producto.nombreProducto}}</h2>
        <p class="text-sm sm:text-md md:text-lg text-gray-700">Subtotal: ${{ producto.subtotal }}</p>
      </div>
      <div class="flex items-center space-x-1 sm:space-x-2">
        <button class="bg-[#ff8633] text-white px-1 sm:px-2 py-1 rounded hover:bg-[#ff6133]" (click)="actualizarCantidad('-', producto.productId, producto.cantidad)">
          <ion-icon name="remove-circle-outline"></ion-icon>
        </button>
        <span class="text-sm sm:text-lg font-semibold">{{ producto.cantidad }}</span>
        <button class="bg-[#ff8633] text-white px-1 sm:px-2 py-1 rounded hover:bg-[#ff6133]" (click)="actualizarCantidad('+', producto.productId, producto.cantidad)">
          <ion-icon name="add-circle-outline"></ion-icon>
        </button>
        <button class="bg-[#ff8633] text-white px-1 sm:px-2 py-1 rounded hover:bg-[#ff6133]"
          (click)="eliminarDeCarrito(producto.productId)">
          <ion-icon name="trash-outline"></ion-icon>
        </button>
      </div>
    </div>

  </div>

  <!-- Resumen de compra (fijo en la parte inferior) -->
  <div class="fixed bottom-0 w-full p-4 bg-white shadow-lg border-t-2">
    <div class="bg-white p-2 sm:p-4 md:p-6 rounded-lg shadow-md">
      <div class="flex justify-between">
        <span class="text-gray-700 text-sm sm:text-base md:text-lg">Subtotal</span>
        <span class="font-semibold text-sm sm:text-base md:text-lg">${{subtotalCompra}}</span>
      </div>
      <div class="flex justify-between">
        <span class="text-gray-700 text-sm sm:text-base md:text-lg">Envío</span>
        <span class="font-semibold text-sm sm:text-base md:text-lg">$30</span>
      </div>
      <div class="flex justify-between font-bold text-gray-900 text-sm sm:text-base md:text-lg">
        <span>Total</span>
        <span>${{totalCompra}}</span>
      </div>
    </div>
    <button (click)="quickview.openModal()" class="w-full bg-[#ff8633] text-white font-bold py-1 sm:py-2 md:py-3 mt-3 rounded hover:bg-[#ff6133]">
      Comprar
    </button>
    <!-- Product Quickviews "detalles del producto" -->
    <app-pasarela-pagos #quickview [totalCompra]="totalCompra"></app-pasarela-pagos>
  </div>
  

</ion-content>
